<div class="container header-container">
    <button class="btn btn-default" ui-sref="main.accessories">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="hidden-xs"> Back</span>
    </button>
    <h4 class="header-title">Accessory Details</h4>
</div>
<div class="container content-container">
    <div class="details-text">
        <b>Title: </b>&nbsp;{{accessory.title}}<br>
        <b>ID: </b>&nbsp;{{accessory.id}}<br>
        <b>Manufacturer ID: </b>&nbsp;{{accessory.manufacturerId}}<br>
        <b>Image(s): </b>&nbsp;{{accessory.images}}
    </div>
</div>