<b><a ui-sref="main.accessories">Back</a> - Update Accessory:</b><br><br>

<label>ID: {{accessory.id}}</label>

<br><br>

<form ng-submit="update()">
    <label>Title:</label>
    <input ng-model="accessory.title" type="text">

    <br><br>

    <label>Manufacturer ID (optional):</label>
    <select ng-model="accessory.manufacturerId">
        <option ng-repeat="man in manufacturers">{{man.id}}</option>
    </select>

    <br><br>

    <label>Image file (optional): [NOT WORKING YET]</label>
    <input type="file">

    <br><br>

    <button class="btn btn-warning" type="submit">Update</button>
</form>