<div class="container header-container">
    <button class="btn btn-default" ui-sref="main.accessoryCats">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="hidden-xs"> Back</span>
    </button>
    <h4 class="header-title">Accessory Category Details</h4>
</div>
<div class="container content-container">
    <div class="details-text">
        <b>Title: </b>&nbsp;{{accessoryCat.title}}<br>
        <b>ID: </b>&nbsp;{{accessoryCat.id}}<br>
    </div>
</div>