<b><a ui-sref="main">Back</a> - List of Accessory Categories:</b><br><br>
<a ui-sref="main.accessoryCats.create">Create (+)</a><br><br>
<ul>
    <li ng-repeat="accessoryCat in accessoryCategories">
        Title: {{accessoryCat.title}}<br>
        ID: {{accessoryCat.id}}<br>
        <button class="btn btn-danger btn-sm" type="button" ng-click="delete(accessoryCat)">Delete</button>
        <button class="btn btn-warning btn-sm" ui-sref="main.accessoryCats.update({'id': accessoryCat.id})">Update</button>
        <button class="btn btn-success btn-sm" type="button" ui-sref="main.accessoryCats.details({'id': accessoryCat.id})">Details</button>
        <br><br>
    </li>
</ul>
{{status}}