<div class="parent">
    <div class="vertical-center">
        <h3 class="main-page-title">Main Page</h3>
        <div class="container main-page-container">
            <button class="btn btn-default btn-lg btn-block" type="button" ui-sref="main.manufacturers">
                Manufacturers
            </button>
            <button class="btn btn-default btn-lg btn-block" type="button" ui-sref="main.accessoryCats">
                Accessory Categories
            </button>
            <button class="btn btn-default btn-lg btn-block" type="button" ui-sref="main.accessories">
                Accessories
            </button>
        </div>
    </div>
</div>