<b><a ui-sref="main">Back</a> - List of Manufacturers:</b><br><br>
<a ui-sref="main.manufacturers.create">Create (+)</a><br><br>
<ul>
    <li ng-repeat="man in manufacturers">
        Title: {{man.title}}<br>
        ID: {{man.id}}<br>
        <button class="btn btn-danger btn-sm" type="button" ng-click="delete(man)">Delete</button>
        <button class="btn btn-warning btn-sm" type="button" ui-sref="main.manufacturers.update({'id': man.id})">Update</button>
        <button class="btn btn-success btn-sm" type="button" ui-sref="main.manufacturers.details({'id': man.id})">Details</button>
        <br><br>
    </li>
</ul>